option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    DATABASE_URL: postgresql://postgres.misihnasjvifnktfpylp:Ger@2025@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres
    JWT_SECRET: WAwzcc0J/Q7ZI4VzhSjM/ilxZ6Q1J6dHhZ5BHSLxreg7Ef/jNg3gVzizgu8XzaLMPSQVZpuDrhQQJnSgyX3vPg==
    JWT_EXPIRE: 24h
    JWT_REFRESH_SECRET: J2l3tAdj3vhEcyUdr61TjQH5WzrlPJ6kSOpPV8jeO+vwsu96HHfUTC+EGVsiS0+Srfd/RUtiHBuHkJKS2wLz+w==
    JWT_REFRESH_EXPIRE: 7d
    CORS_ORIGIN: https://gersl-management-jarooqs-projects.vercel.app
    FRONTEND_URL: https://gersl-management-jarooqs-projects.vercel.app
    RATE_LIMIT_WINDOW: 15
    RATE_LIMIT_MAX_REQUESTS: 100
